html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  height: 100vh;
  margin: 0px;
}
.nav {
  background: white;
  display: flex;
  align-items: center;
  font-family: "Bahianita", cursive;

  flex-wrap: wrap;
  box-shadow: 0 0 5px grey;
}

nav {
  height: 75px;
  display: flex;
  align-items: center;
}

.company-logo-wrapper {
  height: 75px;
  display: flex;
  align-items: center;
}

.nav-item {
  color: #88bb3d;
  text-decoration: none;
  font-size: 24px;
  margin-right: 40px;
}

img {
  max-height: 100%;
}

.img-wrapper {
  height: 100%;
}

.divider {
  min-width: 60px;
  flex: 1;
}

.shopping-cart-button {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background: black;
  padding: 10px;
  position: relative;
  margin-right: 40px;
  border-radius: 100px;
  border: none;
}

svg {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.store-name {
  font-size: 32px;
  color: black;
}

.sample {
  height: 100%;
  background-size: 100%;
}

.cactus-wrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 75px;
  width: 200px;

  height: calc(100vh - 75px);
}

.cactus-wrapper > img {
  width: 100%;
}

.home-page {
  height: calc(100vh - 75px);
  display: flex;
  position: relative;
}

.shop-now-wrapper {
  padding: 20px;
  padding-top: 0px;
  flex: 1;
  height: 100%;
  margin-left: 0px;
  font-weight: 100;
  color: white;
  /* position: absolute; */
  font-size: 32px;
  /* top: 0;
  bottom: 0; */
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
}

.shop-now {
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 15px;
  background: black;
  opacity: 0.8;
  box-shadow: 5px 5px 15px 5px grey;
  border-radius: 5px;
  margin-top: 40px;
}

h1 {
  margin-top: 15vh;
}

h1,
h2 {
  color: black;
  text-align: center;
  font-size: 42px;
  font-weight: 300;
}

.shop-now:hover {
  background: #88bb3d;
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
}
.product-wrapper {
  padding: 20px 10px;
  padding-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 20px;
  padding-bottom: 10px;
  padding-top: 0px;
  border-left-width: 10px;
  padding-left: 0px;
  padding-right: 0px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -7px black;
  border-radius: 10px;
  font-family: "Roboto";
}

.product:hover {
  box-shadow: 5px 5px 20px -7px black;
}

.product > span {
  margin: 5px;
  text-align: center;
}

.image-wrapper {
  padding: 10px;
  width: 100%;
  height: 250px;
}

.add-to-cart {
  font-family: "Roboto";
  align-self: stretch;
  background: #88bb3d;
  border: none;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 5px;
  color: white;
}

.product > span {
  margin: 5px;
}

.product-price {
  font-size: 28px;
  color: rgb(196, 17, 63);
  font-weight: 500;
}

.product-name {
  font-size: 22px;
}

.image-wrapper > img {
  border-radius: 10px;
  height: 100%;
  background: #80808014;
}
@media only screen and (max-width: 600px) {
  .product {
    width: 150px;
    margin: 10px;
  }
  .image-wrapper {
    height: 150px;
  }

  .store-name {
    margin-right: 37.5px;
  }
  .company-logo-wrapper {
    margin: auto;
    display: flex;
    align-items: center;
  }
  .home-page {
    position: relative;
  }
  .shop-now-wrapper {
    position: absolute;
    background: rgba(223, 220, 220, 0.3);
    width: 100%;
  }
  h1 {
    font-weight: 400;
    font-size: 32px;
  }
  .shop-now {
    font-size: 22px;
  }
  nav {
    width: 100vw;
    background: white;
  }

  .img-wrapper {
    margin-left: auto;
  }

  .divider {
    margin: none;
    min-width: 0px;
    flex: 0 0;
  }

  nav {
    justify-content: space-around;
    box-shadow: 0 4px 2px -2px gray;
    border-top: 1px solid grey;
  }
  .nav-item,
  .shopping-cart-button {
    margin: 0px;
  }
  .product-name {
    font-size: 16px;
  }
  .product-price {
    font-size: 22px;
  }
  .product-wrapper {
    padding: 20px 10px;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
